.side-bar {
  background-color: black;
  width: 117px;
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.copyright {
  color: white;
}
