.content-profil {
  display: flex;
  flex-direction: column;
  padding: 85px 90px;
}

.container-hello {
  display: flex;
  align-items: center;
  gap: 6px;
}

.hello,
.user-name {
  font-weight: 500;
  font-size: 48px;
}

.user-name {
  color: #ff0101;
}

.congrats {
  font-size: 18px;
  font-weight: 400;
  margin-top: 28px;
}

.container-datas {
  display: flex;
  margin-top: 77px;
  gap: 31px;
}

.container-graph {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.duration-graph,
.intensity-graph,
.container-score-graph {
  width: 258px;
  height: 263px;
}

.daily-graph {
  width: 835px;
  height: 320px;
  background-color: #fbfbfb;
}
.duration-graph {
  background-color: #ff0101;
  border-radius: 7px;
}

.intensity-graph {
  background-color: #282d30;
}

.container-graph-bottom {
  display: flex;
  justify-content: space-between;
}

.container-score-graph {
  background-color: #fbfbfb;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.score-title {
  margin: 24px 0 0 30px;
  font-size: 15px;
  font-weight: 500;
  color: #20253a;
}

.score-graph {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 60px 30px;
  border-radius: 50%;
}

.score-objectiv {
  width: 50%;
}

.wrapper-key-data {
  display: flex;
  flex-direction: column;
  gap: 39px;
}
