.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 90px;
  height: 91px;
  background-color: black;
}

.container-logo {
  display: flex;
  align-items: center;
  margin-left: 28px;
}

.app-name {
  color: red;
  margin-left: 10.5px;
  font-size: 24px;
  font-weight: 500;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  margin-right: 91px;
  gap: 200px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 1439px) {
  .nav-bar {
    gap: 100px;
  }
}

@media (max-width: 1320px) {
  .nav-bar {
    gap: 40px;
  }
  .header {
    width: 100%;
  }
}
